<p class="text-center text-muted">
	<a href="/start" class="button button-small">RESTART</a>
	<span>Если что-то пошло не так Вы всегда можете начать сначала.</span>
</p>
<p class="text-center text-muted">
	<span>Все вопросы и пожелания пишите <strong>tcherenkovskiy@gmail.com</strong></span>
</p>