<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<main>

		<div class="container">
			<%- include ('../partials/message') %>
				<section id="content">
					<form action="/report/general" method="post">
						<h1>Общие данные</h1>
						<input type="hidden" value="<%=jwt%>" name="jwt">
						<div>
							<input type="text" placeholder="тип буровой установки" required name="type" />
						</div>
						<div>
							<input type="text" placeholder="номер буровой установки" required name="number" />
						</div>
						<div>
							<input type="text" placeholder="месторождение" required name="field" />
						</div>
						<div>
							<input type="text" placeholder="куст" required name="bush" />
						</div>
						<div>
							<input type="submit" value="Продолжить" class="button-primary" />
						</div>
					</form>

				</section>
		</div>

	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
</body>

</html>