<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<main>

		<div class="container">
			<section id="content">
				<form action="/report" method='post' encType="multipart/form-data"">
					<h1>Input</h1>
					<div class=" form-control">
					<input id=" userfile" type="file" name="sampleFile" class="file">
		</div>
		<div>
			<input type="submit" value="Upload" />
			<div>
				<a href="/login">login</a>
				<a href="/general">general</a>
				<a href="/oilwell">oilwell</a>
			</div>
		</div>
		</form>
		</section>
		<%- include ('../partials/message') %>
			</div>

	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
</body>

</html>