<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<main>

		<div class="container">
			<%- include ('../partials/message') %>
				<section id="content">
					<form action="/report/addwell" method="post">
						<h1>Скважины</h1>
						<div>
							<input type="text" placeholder="скважина" required name="well" />
							<select required size="1" name="detail" class="select-css">
								<option value="drill">бурение</option>
								<option value="prepare">пзр</option>
							</select>
						</div>
						<div>
							<input type="datetime-local" required name="start" />
							<input type="datetime-local" required name="end" />
						</div>
						<div>
							<input type="submit" value="Добавить" class="button-primary" />
						</div>
						<div>
							<a class="button" href="/report/oilwell">Далее</a>
						</div>
					</form>
				</section>

		</div>

	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
</body>

</html>