<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<!-- <header> -->
	<!-- <%- include ('../partials/header') %> -->
	<!-- </header> -->

	<main>

		<div class="container">
			<section id="content">
				<form action="/save" method="post">
					<h1>Report</h1>
					<div>
						<input type="submit" value="Save" />
						<div>
							<a href="/login">login</a>
							<a href="/general">general</a>
							<a href="/oilwell">oilwell</a>
							<a href="/input">input</a>
						</div>
					</div>
				</form>
			</section>
			<%- include ('../partials/message') %>
		</div>

	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
</body>

</html>