<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<header>
		<h1 class="title">ОТЧЁТ ЭЭ</h1>
		<h2 class="subtitle">Создание отчета по потреблению электрической энергии при бурении нефтяных скважин</h2>
		<a class="get-started button button-primary button-large" href="/user/start">Start</a>

		<p class="disclaimer">внизу сайта расположена краткая инструкция по созданию отчета</p>
		<a class="scroll-down" href="#help"></a>
	</header>

	<main>
		<a name="help"></a>
		<h4>Как создать отчет?</h4>
		<div class="stepper">
			<div class="step">
				<p class="step-number">1</p>
				<p class="step-title">Авторизация</p>
				<p>Авторизуйтесь на сайте по данным указаным при регистрации. Если у Вас нет логина зарегистрируйтесь.
				</p>

			</div>
			<div class="step">
				<p class="step-number">2</p>
				<p class="step-title">Общие данные</p>
				<p>Укажите общие данные по буровой установке и месторождению</p>

			</div>
			<div class="step">
				<p class="step-number">3</p>
				<p class="step-title">Скважины</p>
				<p>Добавьте данные по началу и окончанию бурения скважин</p>

			</div>
			<div class="step">
				<p class="step-number">4</p>
				<p class="step-title">Профиль мощности</p>
				<p>Загрузите файл с профилем мощности</p>

			</div>
			<div class="step">
				<p class="step-number">5</p>
				<p class="step-title">Отчет</p>
				<p>Сохраните отчет у себя на компьютере</p>
			</div>
		</div>
	</main>


</body>

</html>