<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<header>
		<h1 class="title">Easy report</h1>
		<!-- <h2 class="subtitle">Creating a report on the consumption of electrical energy when drilling oil wells</h2> -->
		<!-- <p class="disclaimer"></p> -->
		<a class="get-started button button-primary button-large" href="login">Login</a>

		<!-- <a class="scroll-down" href="/login"></a> -->
	</header>


</body>

</html>